*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
}
main{
    display: grid; 
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e';
    gap: 10px;
    width: 500px;
    margin: auto;
}

main div{
    padding: 2em;
    text-align: center;
    
}
.item-a{
    background-color: brown;
    grid-area: a;
    height: 100px;
}
.item-b{
    background-color: yellow;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;
    height: 100px;
}
.item-d{
    background-color: aqua;
    grid-area: d;
}
.item-e{
    background-color: aqua;
    grid-area: e;
}
#back{
    color: white;
    font-size: 20px;
}
